<menu type="toolbar" class="menubar container">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="posts">Posts</a></li>
</menu>


<router-outlet></router-outlet>


<div class="container">

  <div class="user-add">
    <form class="user-add-form" (ngSubmit)="handleSubmit()">
      <fieldset class="fieldset">
        <legend class="legend">Enter new user details</legend>
        <div class="input-group" >
          <label for="name" class="input-label">User Name</label>
          <input type="text" class="input-control" name="name" placeholder="user name here" id="name" [(ngModel)]="name">
        </div>
    
        
        <div class="input-group">
          <label for="age" class="input-label">User Age</label>
          <input type="number" min="1"max="99" class="input-control" name="age" placeholder="user age here" id="age" [(ngModel)]="age">
        </div>
    
        <div class="input-group">
          <label for="bio" class="input-label">User Bio</label>
          <textarea class="input-control" name="bio" placeholder="user bio here" id="bio" rows="3" [(ngModel)]="bio"> </textarea>
        </div>
    
        <div class="input-group">
          <label for="gender" class="input-label">User Gender</label>
          <select class="input-control" name="gender" id="gender" [(ngModel)]="gender">
            <option value="undefined" disabled selected>Select a gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="prefernottoshare">Prefer not to share</option>
          </select>
        </div>
    
        <div class="input-group-align-center">
          <button type="submit?" class="btn btn-danger">Submit</button>
        </div>
        
      </fieldset>
    </form> 

  </div>
</div> -->
 

<app-posts></app-posts>